
.container-contact{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}
hr{
    width: 80%;
}
h2{
    font-size: 20px;
}
.contact-items{
    display: flex;
    margin: 30px auto;
    margin-bottom: -45px;
    flex-wrap: wrap;
    align-items: center;

}
.customer-care,.write-us,.sales-market{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 21px auto;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    min-width: 200px;
    
}
.customer-care{
    height: 250px;
    box-shadow: 0 15px 15px green;
    border: 1px solid green;
}
.write-us{
    height: 250px;
    box-shadow: 0 15px 15px red;
    border: 1px solid red;
}
.sales-market{
    height: 250px;
    box-shadow: 0 15px 15px blue;
    border: 1px solid blue;
}
p{
    font-size: 15px;
}
button{
    padding: 8px 16px;
    font-size: 17px;
    border-radius: 25px;
    border: 3px solid black;
    margin: 15px auto;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
button:hover{
    color: gray;
}
#cust-care{
    
    margin: -10px;
    background: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px black;
}
#write{
    margin: 30px;
    background: rgb(187, 15, 15);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px black;
}
#sales{
    background: blue;
    box-shadow: 0 0 5px black;
}
a{
    font-size: 16px;
}
.customer-care a{
    color: green;
    text-shadow: 0 0 2px rgba(73, 129, 80, 0.637);
}
.sales-market a{
    color: blue;
    text-shadow: 0 0 2px rgba(76, 62, 158, 0.637);
}


@media only screen and (max-width: 1040px) {
.sales-market{
    height: 275px;
}
}