*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    width: 100%;
    height: 100%;
    
  
  }
  
  body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
   
  }
body{
    background: url(../img/giphy\ \(1\).gi);
    background-position: left;
    background-repeat: no-repeat;
	height: 100%;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
}
    
.loader{
   
    color: white;
   font-size: 5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex{
    display: none;
}
.glow-on-hover {
    margin-top: 2.2rem;
    padding: 3px;
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}



.glow-on-hover:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.abt{
padding-right: 2vw;
    margin-left: 25vw;
    max-width: 70%;
 background-color: transparent;
 


}
.top{
	margin-top: -1px;
    border: 1px solid wheat;
    position: sticky;
    background-color: rgb(39, 39, 39);
    height: 100vh;
   
 
}
.top-img{
    padding: 5px 10px;
}
.menu,ul,li{
    margin:10px;
    padding: 0 !important;
    list-style: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    font-size: 2vw;
}
.menu{
    background-image: url(../img/pattern.png);
    margin-top: -20px;
}
.oranged{
    text-shadow: none;
    font-size: 1.2rem;
    font-weight: bolder;
    background-image: -webkit-linear-gradient(45deg,#e0040b 15%, #fc5130 65%);
    background-size: cover;
    
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      cursor: pointer;

}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  
  
  .profile-photo {
    
   display: flex;
   justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid ;
   
  }
  
  
  .profile-photo img {
    margin-top: 5px;
    border-top: 5px solid white;
    border-radius: 35%;
    width: 150px;
    
    object-fit: cover;
    
    animation: at-ripple 0.6s linear infinite;
  }
  @keyframes at-ripple {
    
  0% {
    box-shadow: 0 8px 10px rgb(102 102 102 / 10%), 0 0 0 0 rgb(102 102 102 / 10%), 0 0 0 5px rgb(102 102 102 / 10%), 0 0 0 10px rgb(102 102 102 / 10%);
  }
  100% {
    box-shadow: 0 8px 10px rgb(102 102 102 / 10%), 0 0 0 5px rgb(102 102 102 / 10%), 0 0 0 10px rgb(102 102 102 / 10%), 0 0 0 20px rgb(102 102 102 / 0%);
  }
  }

.abt-1{
    padding: 5px;
}
.abt-1>center>h3{
    padding: 0 3rem 0 3rem;
}

@media (max-width:530px) {
    .abt{
        margin-left: 30vw !important;
    }
    .glow-on-hover{
        width: 70px;
        height: auto !important;
    }
   
}
@media (max-width:760px) {
    body{
        background-position: 75%;
    }
    .services, #contact{
        margin-left: 30vw !important;
    }
    .abt-1>center>h3{
        padding: 1px;
    }
    .glow-on-hover{
       
        height: 30px;
    }
    .profile-photo{
        margin-top: -10px;
    }
    .menu,ul,li{
        font-size: 1rem;
        margin-left: 3px;
    }
    .list-info,li{
        margin-top: 1rem;
    }
   
    
    .contactform {
        padding: 0;
    }
    .abt,#contact,.blogs,.services{
        padding-left: 5px;
    }
    .indicator{
        width: 35vw !important;
    height: 5.5vw !important;
    }
    
}

.services{
    margin-left: 25vw;
    width: 70%;
    display: none;
    padding-right: 2vw;
}

h1,h2,h3,h4,h5,h6,h7,p,b,label{
    color: white;
}
.social>a{
  margin: 5px;
}

#contact{
    padding-right: 2vw;
    margin-left: 25vw;
    width: 70%;
    display: none;
}
.btn1{
    background-color: #002bff;
}

.opps{
    animation: blink 1s infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#blogs{
    padding-right: 2vw;
    padding: 2rem;
    display: none;
   margin-left: 30vw;
    width: 70%;
}
.newsletter{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
    margin: 0,1rem,0,1rem;
    margin-top: -15px;
    border-radius: 10px;
}
.newsletter>input{

text-align: center;
border-radius: 15px;
    border: 3px solid #0012e9;
    height: 45px;
    width: 30vw;
}

.fixed{
    position: fixed;
}
.logo{
    cursor: not-allowed;
    background-color: transparent;
   
}

.homecontent{
    max-width: 1200px;
}
.top-img{
   animation: logo 5s;

 
 
}
@keyframes logo {
    0%{
        opacity: 1;
  
    }
   25%{
    transform: rotate(360deg);
    opacity: 0.5;
    }
    
    50%{
    opacity: 0.7;
    }
      
    75%{
        opacity: 0.8;
        }



   100%{
    opacity: 1;
    
    }
    
}
.indicator{
   
    
    width: 20vw;
    height: 4.5vw;
    background-color: transparent;
    position: absolute;
   
    
}

.indicator1{
    margin-top: 1.8rem;
    display: none;
}

.ld{
    font-size: 1.5rem;
    color: wheat;
    animation:  ld 5s infinite;
}
@keyframes ld {
    0%{
        margin-left: -1rem;
        
    }
    25%{
        margin-left: 1rem;
        color: green;
    }
    50%{
        margin-left: -1rem;
        color: white;
    }
    75%{
        margin-left: 1rem;
        color: green;
    }
    100%{
        margin-left: -1rem;
    }
}

.email{
    border-radius: 15px;
    border: 3px solid #0012e9;
    height: 45px;
    width: 40vw;
   text-align: center;
}

.message{
    border-radius: 15px;
    border: 3px solid #0012e9;
    height: 100px;
    width: 40vw;
    text-align: center;
}
.contactform{
   margin-top: 2rem;
    text-align: center;
}

@media (max-width:760px) {
.top{
    position: fixed;
    border: none;
    height: auto;
    width: 100%;
}

.logo h1,h6{
  display: none; 
}
.homecontent{
    margin-top: 3rem;
}
.menu>ul>li{
    margin: 15px 10px 10px 10px; 
display: inline-flex;
justify-content: center;
}
.fixed{
    display: none;
}
.abt, .services, #contact, #blogs{
  margin-left: 0;

     padding-right: 0; 
     margin-left: 0 !important;
     width: 100%;
     max-width: 100%;
}
.menu>ul{
    margin: 0px !important;
}
.menu{
    
    margin: 0 !important;
}
.nav{
    z-index: 999;
    display:block !important;
}

.logo1{
    display: block !important;
    margin-top: -15px;
    margin-bottom: -15px;
} 
.newsletter>input {
   
    width: 75vw;
}
.email, .message{
    width: 75vw;
}
.newsletter {
 margin-right: 5px;
}


#blogs {
   
    padding: 1rem;
}
}
.logo1{
    display: none;
}
.nav{
    display: none;
}
#n0,#y1,#y2,#y3{
    display: none;  
  }
  .aninone::before{
    animation: none;
    background: #000;
}

#N0,#Y1,#Y2,#Y3{
    display: none;  
  }
  .end{
    margin-bottom: 1rem;
  }

  .sales-market, .write-us, .customer-care{
    background-color: black;
  }

.google{
    position: absolute;
	z-index: -1;
}
.google h1{
    color: transparent;
}
.google h2{
    color: transparent;
}
.google h3{
    color: transparent;
}
.noanimation{
    animation: none !important;
}

@media screen and (max-width: 880px) and (min-width: 760px) {
    .homecontent{
     margin-left: 5rem;
    }
}

.gallery{
    border-top: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery1{
    display: none;
}
.gallery>img{
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

@media screen and (max-width:735px) {
    .gallery1{
        display: flex;
    }
}