*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-image: url(/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(30, 37, 35);
   
   
}
#slider {
   background: #000000ba;
    position: relative;
    width: 100%;
    height: 100vh;
   display: none;
  }
  #wc{
    background: #000000ba;
    color: wheat;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .slide {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide p {
    margin-top: 1rem;
    color: white;
    font-size: 26px;
  }
  .slide h1{
    color: yellow;
    font-size: 4rem;
    font-weight: bold;
  }
  .slide h2{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: wheat;
    margin-top: 1rem;
  }
  .slide li{
    color: white;
    font-size: 1.2rem;
  }

  #cnt{
    cursor: pointer;
    background-color: aquamarine;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    width: 5rem;
    
    font-size: 2rem;
    
  }