.blogpage{
    position: relative;
    z-index: 1;
    background-image: url(../Images/blogbg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    opacity: 0.5;
}
.blogpagebg{
   
    background-color: black;
    width: 100%;
  
}
.bloginner{
    color: white;
   
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
}
.bloginner h1{ 
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}
.bloginner span{
    margin-left: 1rem;
}
.blogbuttons{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.blogbuttons div{
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 30%);

    display: inline-flex;
    margin: 5px;
    font-size: 1.2rem;
    padding: 1rem;
}
.blogbuttons div:hover{
    cursor: pointer;
    background-color: blueviolet;
}